# it is a regression problem

## we are donig the machine learning on house price data set

<table align="center" width=100%>
  <tr>
    </td>
      </td>
    </td>
   <td>
     <div align="center">
       <font color="#21618C" size=8px>
         <b> Regression modeling on house price data</b>
       </font>
     </div>
   </td>
  </tr>
</table>

# problem statement

this dataset is created for prediction of house priceing fro indian perspective from an indian perspective towns. the dataset  contains various feature that are important during application for selling the house. the prediction output obtained from the classification algorithm gives a fair iead about the chances of a house sold.

In [5]:
# import pandas
#pandas is utilized to formate the data structures it mean it can convert any data sructure into pandas data frame.
import pandas as pd

# import numpy
# to find statistical summarification we use numpy
import numpy  as np

# import subchnages of matpotlib 
import matplotlib.pyplot as ptl
import matplotlib.colors as listedcolormap

# import seaborn
import seaborn as sns

### load the dataset

In [7]:
### load the data and name it df_house_price
df_house_price = pd.read_csv("C:\\Users\\Dell\\Downloads\\House_Price1.csv")
df_house_price

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES,0.056006,1
502,20.6,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES,0.059903,1
503,23.9,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,NaN,31,YES,0.057572,1
504,22.0,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,NaN,47,YES,0.060694,1
505,19.0,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,NaN,45,YES,0.060336,1

In [8]:
df_house_price.head(5)

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474,0

In [9]:
df_house_price.tail(5)

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
501,22.4,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES,0.056006,1
502,20.6,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES,0.059903,1
503,23.9,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,NaN,31,YES,0.057572,1
504,22.0,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,NaN,47,YES,0.060694,1
505,19.0,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,NaN,45,YES,0.060336,1

# data overviews

In [11]:
#name the columns
df_house_price.columns

Index(['price', 'resid_area', 'air_qual', 'room_num', 'age', 'distance',
       'teachers', 'poor_prop', 'airport', 'n_hos_beds', 'n_hot_rooms',
       'waterbody', 'rainfall', 'bus_ter', 'parks', 'Sold'],
      dtype='object')

**interpretation**

 - `price`:price of the house.
 - `resid_area`:residencial area where my house is located.

In [13]:
# Basic info of the data set
df_house_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   resid_area   506 non-null    float64
 2   air_qual     506 non-null    float64
 3   room_num     506 non-null    float64
 4   age          506 non-null    float64
 5   distance     506 non-null    float64
 6   teachers     506 non-null    float64
 7   poor_prop    506 non-null    float64
 8   airport      506 non-null    object
 9   n_hos_beds   498 non-null    float64
 10  n_hot_rooms  506 non-null    float64
 11  waterbody    351 non-null    object
 12  rainfall     506 non-null    int64
 13  bus_ter      506 non-null    object
 14  parks        506 non-null    float64
 15  Sold         506 non-null    int64
dtypes: float64(11), int64(2), object(3)
memory usage: 63.4+ KB

**Interpretation**

 - we have 13 numerical columns and 3 categorical columns.
 - we have null values in the data.
 - we have total 16 columns.

In [15]:
# shape of the data
df_house_price.shape

(506, 16)

**Interpretation**
  
 - we have 16 columns.
 - we have 506 oberservations

In [17]:
# summerzie the basic statistical data
df_house_price.describe().T

,count,mean,std,min,25%,50%,75%,max
price,506.0,22.528854,9.182176,5.000000,17.025000,21.200000,25.000000,50.000000
resid_area,506.0,41.136779,6.860353,30.460000,35.190000,39.690000,48.100000,57.740000
air_qual,506.0,0.554695,0.115878,0.385000,0.449000,0.538000,0.624000,0.871000
room_num,506.0,6.284634,0.702617,3.561000,5.885500,6.208500,6.623500,8.780000
age,506.0,68.574901,28.148861,2.900000,45.025000,77.500000,94.075000,100.000000
distance,506.0,3.971996,2.108532,1.130000,2.270000,3.385000,5.367500,12.320000
teachers,506.0,21.544466,2.164946,18.000000,19.800000,20.950000,22.600000,27.400000
poor_prop,506.0,12.653063,7.141062,1.730000,6.950000,11.360000,16.955000,37.970000
n_hos_beds,498.0,7.899767,1.476683,5.268000,6.634500,7.999000,9.088000,10.876000
n_hot_rooms,506.0,13.041605,5.238957,10.057600,11.189800,12.720000,14.170800,101.120000
rainfall,506.0,39.181818,12.513697,3.000000,28.000000,39.000000,50.000000,60.000000
parks,506.0,0.054454,0.010632,0.033292,0.046464,0.053507,0.061397,0.086711
Sold,506.0,0.454545,0.498422,0.000000,0.000000,0.000000,1.000000,1.000000

**Interpretation**
  
 - we have outliers in the data.
 - most of the outliers are in age columns.

## Data preprocessing

### A.Data Cleaning

In [21]:
# show the first 5 observation:
df_house_price.head(5 )

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474,0

In [22]:
# Rename the columns
# step 1: show the column name
df_house_price.columns

Index(['price', 'resid_area', 'air_qual', 'room_num', 'age', 'distance',
       'teachers', 'poor_prop', 'airport', 'n_hos_beds', 'n_hot_rooms',
       'waterbody', 'rainfall', 'bus_ter', 'parks', 'Sold'],
      dtype='object')

In [23]:
# step2:allocate new columns name to old columns name.
# make teh dictionary {'old columns name':'new column name' }
d1={'price':'Price',
    'resid_area':'Resid_area',
    'air_qual':'Air_Quality',
    'room_num':'Room_No',
    'age':'Age',
    'distance':'Distance',
    'teachers':'Teachers',
    'poor_prop':'propostion_of_poor_popluation',
    'airport':'Airport',
    'n_hos_beds':'Number_of_Hospital_Beds',
    'n_hot_rooms':'Number_of_hotel_Rooms',
    'waterbody':'Waterbody',
    'rainfall':'Rainfall',
    'bus_ter':'Bus_Terminal',
    'parks':'Parks',
    'Sold':'Sold',  
   }

In [24]:
df_house_price=df_house_price.rename(columns=d1)
df_house_price

,Price,Resid_area,Air_Quality,Room_No,Age,Distance,Teachers,propostion_of_poor_popluation,Airport,Number_of_Hospital_Beds,Number_of_hotel_Rooms,Waterbody,Rainfall,Bus_Terminal,Parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,41.93,0.573,6.593,69.1,2.64,19.0,9.67,NO,9.348,12.1792,Lake and River,27,YES,0.056006,1
502,20.6,41.93,0.573,6.120,76.7,2.44,19.0,9.08,YES,6.612,13.1648,Lake and River,20,YES,0.059903,1
503,23.9,41.93,0.573,6.976,91.0,2.34,19.0,5.64,NO,5.478,12.1912,NaN,31,YES,0.057572,1
504,22.0,41.93,0.573,6.794,89.3,2.54,19.0,6.48,YES,7.940,15.1760,NaN,47,YES,0.060694,1
505,19.0,41.93,0.573,6.030,80.8,2.72,19.0,7.88,YES,10.280,10.1520,NaN,45,YES,0.060336,1

In [25]:
# Authentiact a results
df_house_price.columns

Index(['Price', 'Resid_area', 'Air_Quality', 'Room_No', 'Age', 'Distance',
       'Teachers', 'propostion_of_poor_popluation', 'Airport',
       'Number_of_Hospital_Beds', 'Number_of_hotel_Rooms', 'Waterbody',
       'Rainfall', 'Bus_Terminal', 'Parks', 'Sold'],
      dtype='object')

### B.Null Value Handling

laws that we need to follow while processingnull values that special for manifactring.
 - when we have less than 15% data is missing -> remove the  observations.
 - Between 22-70% dta is missing ->impute the null values.
 - greater than 75% values are misssing ->remove the columns.

In [28]:
# find the Null value
df_house_price.isnull().sum()

Price                              0
Resid_area                         0
Air_Quality                        0
Room_No                            0
Age                                0
Distance                           0
Teachers                           0
propostion_of_poor_popluation      0
Airport                            0
Number_of_Hospital_Beds            8
Number_of_hotel_Rooms              0
Waterbody                        155
Rainfall                           0
Bus_Terminal                       0
Parks                              0
Sold                               0
dtype: int64

In [29]:
# percentage missing value
round((df_house_price.isnull().sum())/len(df_house_price)*100,3)

Price                             0.000
Resid_area                        0.000
Air_Quality                       0.000
Room_No                           0.000
Age                               0.000
Distance                          0.000
Teachers                          0.000
propostion_of_poor_popluation     0.000
Airport                           0.000
Number_of_Hospital_Beds           1.581
Number_of_hotel_Rooms             0.000
Waterbody                        30.632
Rainfall                          0.000
Bus_Terminal                      0.000
Parks                             0.000
Sold                              0.000
dtype: float64

In [30]:
# find the nature of the columns.
df_house_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Price                          506 non-null    float64
 1   Resid_area                     506 non-null    float64
 2   Air_Quality                    506 non-null    float64
 3   Room_No                        506 non-null    float64
 4   Age                            506 non-null    float64
 5   Distance                       506 non-null    float64
 6   Teachers                       506 non-null    float64
 7   propostion_of_poor_popluation  506 non-null    float64
 8   Airport                        506 non-null    object
 9   Number_of_Hospital_Beds        498 non-null    float64
 10  Number_of_hotel_Rooms          506 non-null    float64
 11  Waterbody                      351 non-null    object
 12  Rainfall                       506 non-null    int64
 13  Bus_Terminal                   506 non-null    object
 14  Parks                          506 non-null    float64
 15  Sold                           506 non-null    int64
dtypes: float64(11), int64(2), object(3)
memory usage: 63.4+ KB

In [31]:
# this is a categorical column so we can replac eteh null with mode.
df_house_price.Waterbody.mode()

0    River
Name: Waterbody, dtype: object

In [32]:
# replace the null in that column
df_house_price.Waterbody=df_house_price.Waterbody.fillna('river')

In [33]:
# percentage of missing value
round((df_house_price.isnull().sum())/len(df_house_price)*100,3)

Price                            0.000
Resid_area                       0.000
Air_Quality                      0.000
Room_No                          0.000
Age                              0.000
Distance                         0.000
Teachers                         0.000
propostion_of_poor_popluation    0.000
Airport                          0.000
Number_of_Hospital_Beds          1.581
Number_of_hotel_Rooms            0.000
Waterbody                        0.000
Rainfall                         0.000
Bus_Terminal                     0.000
Parks                            0.000
Sold                             0.000
dtype: float64

In [34]:
#in number of the hospital bed conatin less then 10% ,so we can drop the null value 
df_house_price.dropna(inplace=True)

In [35]:
# percentage of missing value
round((df_house_price.isnull().sum())/len(df_house_price)*100,3)

Price                            0.0
Resid_area                       0.0
Air_Quality                      0.0
Room_No                          0.0
Age                              0.0
Distance                         0.0
Teachers                         0.0
propostion_of_poor_popluation    0.0
Airport                          0.0
Number_of_Hospital_Beds          0.0
Number_of_hotel_Rooms            0.0
Waterbody                        0.0
Rainfall                         0.0
Bus_Terminal                     0.0
Parks                            0.0
Sold                             0.0
dtype: float64

##  Prepare Data for Machine Learning

# We Know that The Machine Learning Algorithms are Mathematical Expression so we need to provied the data to Specific Forrmate.
# Encoding

In [38]:
#step 1 : Divied the Data based on their datatype
df_cat = df_house_price.select_dtypes(include=['object'])
df_cat.columns

Index(['Airport', 'Waterbody', 'Bus_Terminal'], dtype='object')

In [127]:
# use dummmies coding
dummy_var = pd.get_dummies(data= df_cat, drop_first =True)
dummy_var =dummy_var.reset_index()

In [154]:
dummy_var2 = pd.get_dummies(data= df_cat)

In [187]:
dummy_var.head(2)

,index,Airport_YES,Waterbody_Lake and River,Waterbody_River,Waterbody_river
0,0,True,False,True,False
1,1,False,False,False,False

In [158]:
df_num =df_house_price.select_dtypes(include= [np.number])
df_num.head()

,Price,Resid_area,Air_Quality,Room_No,Age,Distance,Teachers,propostion_of_poor_popluation,Number_of_Hospital_Beds,Number_of_hotel_Rooms,Rainfall,Parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,5.480,11.1920,23,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,7.332,12.1728,42,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,7.394,101.1200,38,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,9.268,11.2672,45,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,8.824,11.2896,55,0.039474,0

In [160]:
from sklearn.preprocessing import StandardScaler

In [162]:
#store the target variable 'chance of admit in a dataframe
df_target = df_house_price['Price']

df_num =df_num.drop('Price',axis=1)

In [164]:
# Initiate the standardscaler
ss = StandardScaler()

In [166]:
scale = ss.fit_transform(df_num)
scale

array([[-1.28244435, -0.13709359,  0.40897478, ..., -1.30206786,
        -0.47313205, -0.91152748],
       [-0.59005882, -0.73319492,  0.18997385, ...,  0.21519397,
        -0.77522463,  1.09705963],
       [-0.59005882, -0.73319492,  1.276446  , ..., -0.10422957,
        -0.81123666, -0.91152748],
       ...,
       [ 0.11687263,  0.16527665,  0.97923045, ..., -0.66322077,
         0.30293265,  1.09705963],
       [ 0.11687263,  0.16527665,  0.72041117, ...,  0.6144734 ,
         0.59750894,  1.09705963],
       [ 0.11687263,  0.16527665, -0.36606097, ...,  0.45476163,
         0.56369225,  1.09705963]])

In [168]:
df_scale = pd.DataFrame(scale , columns = df_num.columns)
df_scale

,Resid_area,Air_Quality,Room_No,Age,Distance,Teachers,propostion_of_poor_popluation,Number_of_Hospital_Beds,Number_of_hotel_Rooms,Rainfall,Parks,Sold
0,-1.282444,-0.137094,0.408975,-0.115644,0.172845,1.462167,-1.066368,-1.640299,-0.352111,-1.302068,-0.473132,-0.911527
1,-0.590059,-0.733195,0.189974,0.369741,0.476100,0.304963,-0.484136,-0.384875,-0.166019,0.215194,-0.775225,1.097060
2,-0.590059,-0.733195,1.276446,-0.260905,0.495053,0.304963,-1.199330,-0.342847,16.710340,-0.104230,-0.811237,-0.911527
3,-1.301354,-0.828226,1.010516,-0.802977,1.054179,-0.111631,-1.351886,0.927490,-0.337843,0.454762,-0.680402,-0.911527
4,-1.301354,-0.828226,1.222407,-0.505369,1.030487,-0.111631,-1.017382,0.626514,-0.333593,1.253320,-1.404723,-0.911527
...,...,...,...,...,...,...,...,...,...,...,...,...
493,0.116873,0.165277,0.434572,0.022531,-0.637413,-1.176258,-0.409958,0.981720,-0.164805,-0.982644,0.155116,1.097060
494,0.116873,0.165277,-0.238073,0.291796,-0.732180,-1.176258,-0.492534,-0.872945,0.022197,-1.541636,0.522886,1.097060
495,0.116873,0.165277,0.979230,0.798438,-0.779564,-1.176258,-0.973995,-1.641654,-0.162528,-0.663221,0.302933,1.097060
496,0.116873,0.165277,0.720411,0.738208,-0.684797,-1.176258,-0.856429,0.027273,0.403791,0.614473,0.597509,1.097060
497,0.116873,0.165277,-0.366061,0.437057,-0.599506,-1.176258,-0.660486,1.613499,-0.549435,0.454762,0.563692,1.097060

In [170]:
# make a dataframe for independent variable 
df_independence = pd.concat([df_scale,dummy_var], axis=1)
df_independence.head()

,Resid_area,Air_Quality,Room_No,Age,Distance,Teachers,propostion_of_poor_popluation,Number_of_Hospital_Beds,Number_of_hotel_Rooms,Rainfall,Parks,Sold,index,Airport_YES,Waterbody_Lake and River,Waterbody_River,Waterbody_river
0,-1.282444,-0.137094,0.408975,-0.115644,0.172845,1.462167,-1.066368,-1.640299,-0.352111,-1.302068,-0.473132,-0.911527,0,True,False,True,False
1,-0.590059,-0.733195,0.189974,0.369741,0.476100,0.304963,-0.484136,-0.384875,-0.166019,0.215194,-0.775225,1.097060,1,False,False,False,False
2,-0.590059,-0.733195,1.276446,-0.260905,0.495053,0.304963,-1.199330,-0.342847,16.710340,-0.104230,-0.811237,-0.911527,2,False,False,False,True
3,-1.301354,-0.828226,1.010516,-0.802977,1.054179,-0.111631,-1.351886,0.927490,-0.337843,0.454762,-0.680402,-0.911527,3,True,False,False,False
4,-1.301354,-0.828226,1.222407,-0.505369,1.030487,-0.111631,-1.017382,0.626514,-0.333593,1.253320,-1.404723,-0.911527,4,False,False,False,False

# Splits the data for training and testing

In [173]:
import statsmodels
import statsmodels.api as sm

#add a concat columns to the dataframe
df_independence = sm.add_constant(df_independence)
df_independence

,const,Resid_area,Air_Quality,Room_No,Age,Distance,Teachers,propostion_of_poor_popluation,Number_of_Hospital_Beds,Number_of_hotel_Rooms,Rainfall,Parks,Sold,index,Airport_YES,Waterbody_Lake and River,Waterbody_River,Waterbody_river
0,1.0,-1.282444,-0.137094,0.408975,-0.115644,0.172845,1.462167,-1.066368,-1.640299,-0.352111,-1.302068,-0.473132,-0.911527,0,True,False,True,False
1,1.0,-0.590059,-0.733195,0.189974,0.369741,0.476100,0.304963,-0.484136,-0.384875,-0.166019,0.215194,-0.775225,1.097060,1,False,False,False,False
2,1.0,-0.590059,-0.733195,1.276446,-0.260905,0.495053,0.304963,-1.199330,-0.342847,16.710340,-0.104230,-0.811237,-0.911527,2,False,False,False,True
3,1.0,-1.301354,-0.828226,1.010516,-0.802977,1.054179,-0.111631,-1.351886,0.927490,-0.337843,0.454762,-0.680402,-0.911527,3,True,False,False,False
4,1.0,-1.301354,-0.828226,1.222407,-0.505369,1.030487,-0.111631,-1.017382,0.626514,-0.333593,1.253320,-1.404723,-0.911527,4,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,1.0,0.116873,0.165277,0.434572,0.022531,-0.637413,-1.176258,-0.409958,0.981720,-0.164805,-0.982644,0.155116,1.097060,501,False,True,False,False
494,1.0,0.116873,0.165277,-0.238073,0.291796,-0.732180,-1.176258,-0.492534,-0.872945,0.022197,-1.541636,0.522886,1.097060,502,True,True,False,False
495,1.0,0.116873,0.165277,0.979230,0.798438,-0.779564,-1.176258,-0.973995,-1.641654,-0.162528,-0.663221,0.302933,1.097060,503,False,False,False,True
496,1.0,0.116873,0.165277,0.720411,0.738208,-0.684797,-1.176258,-0.856429,0.027273,0.403791,0.614473,0.597509,1.097060,504,True,False,False,True
497,1.0,0.116873,0.165277,-0.366061,0.437057,-0.599506,-1.176258,-0.660486,1.613499,-0.549435,0.454762,0.563692,1.097060,505,True,False,False,True

In [175]:
from sklearn.model_selection import train_test_split

In [179]:
X_train , X_test , Y_train , Y_test = train_test_split(df_independence, df_target, random_state = 10, test_size=0.2)

In [189]:
#print  dimension of train set
print('X_train',X_train.shape)
print('Y_train',Y_train.shape)

#print  dimension of train set
print('X_test',X_test.shape)
print('Y_test',Y_test.shape)

X_train (398, 18)
Y_train (398,)
X_test (100, 18)
Y_test (100,)

## Linear Regression

In [192]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [198]:
# create a linear regression model
model =LinearRegression()

In [202]:
#fit the model
model.fit(X_train , Y_train)

LinearRegression()

In [204]:
# predict on test data
prediction = model.predict(X_test)

In [216]:
# predict on test data
mse = mean_squared_error(Y_test, prediction)
mse

16.05903943144849

In [218]:
prediction

array([21.09052167, 26.93982338,  6.3720054 , 24.43514501, 12.16032245,
       14.09289192, 15.2444162 , 25.8992059 , 10.37921747, 27.67227785,
       21.50865228, 32.21959566, 27.22383139, 21.78703461, 26.66736951,
        9.4309256 , 22.79541606, 19.912884  , 36.11346196, 32.92665025,
       36.7541807 , 21.89604869, 17.88652249, 24.36378784,  2.61790523,
       22.64166841, 23.21881909,  1.22212863, 23.15407954, 20.91511032,
       30.46699505, 18.45386818, 24.50700917, 16.00824806, 24.21254029,
       27.24861734, 22.23240479, 24.61718238, 36.97087939, 42.6373563 ,
       30.39263741, 13.88907986, 21.02002762, 32.78159461, 13.22290355,
       25.95256615, 31.80948401, 26.24022548, 19.62547832, 26.45550193,
       23.81214669, 26.42274058, 27.62736743, 23.20425652, 20.4805522 ,
       26.46961557, 10.16704128, 15.69799986, 20.80837674, 24.79476037,
       19.24512636, 26.74135372, 33.07988156, 22.61711811, 33.95954653,
       17.46293666, 22.47931933, 17.94230799, 33.71574626, 33.51647239,
       15.77724879, 11.48072024, 12.9624503 , 11.44294746, 20.99645551,
       18.80413991, 29.53068857, 33.6030584 , 19.14527216, 19.98267755,
       13.4562516 , 25.13120404, 30.27330356, 33.24185549, 21.26038819,
       22.57316674, 44.19523683, 24.74432862, 14.5695839 , 26.74668776,
       17.67479748, 26.54975707, 17.55392328,  4.66574657, 25.48869608,
       21.32045252, 21.08347523, 18.1265926 , 20.1935235 , 41.56902845])

In [239]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y_test, prediction)
mae

3.1930524745725415

In [249]:
from sklearn.metrics import root_mean_squared_error
rmse = root_mean_squared_error(Y_test, prediction)
rmse

4.007373133543779